---
import Main from './Main.astro';
import AboutSidebar from '../components/AboutSidebar.astro';
import '../styles/about.css';

const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
const currentPath = Astro.url.pathname;
---

<Main title={title} description={description}>
  <div class="about container">
    <AboutSidebar currentPath={currentPath} />
    <div class="about-wrapper" style="flex: 1;">
      <header class="about-header">
        <h1>{title}</h1>
      </header>
      <div class="about-content">
        <slot />
      </div>
    </div>
  </div>
</Main>
